table.customTable {
  width: 100px;
  background-color: #181c31;
  border-collapse: collapse;
  border: 1px solid #000;
  color: #8f8f8f;
  font-size: 12px;
  font-family: "DejaVu Serif";
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.57));
}

table.customTable td, table.customTable th {
  border-top: 1px, #000, solid;
  padding: 5px;
  font-size: 12px;
  color: #ce846f;
  font-family: "DejaVu Serif";
  text-transform:uppercase;
}

table.customTable thead {
  background-color: #1A2240;
}

div.titolo{
	margin: auto;
  text-align: center;
}