.tg  {border-collapse:collapse;border-spacing:0;position:relative; width:550px; margin: 0 auto; margin-bottom:30px;table-layout: fixed;}
.tg tbody{border: 2px black solid;}
.tg td{border: 1px black solid;font-family:  DejaVu Sans;font-size:11px;color:#e2e2e2;overflow:hidden;
  padding:10px 5px;word-break:normal; background: url('imgs/uffici/sfondo_tasto.png');background-repeat: no-repeat; text-align:center; 
  width:30px; height:20px;background-size: cover; vertical-align: center;}
.tg th{border-style:solid;border-width:0px;font-family: DejaVu Sans, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:20px 10px;word-break:normal;background-repeat: no-repeat;}
.tg .tg-73oq{border-color:#000000;text-align:center;vertical-align:top;}

a:hover{
	color:white;
    text-decoration: none;
}

input[type=text] {
    font-family:  DejaVu Sans;
    font-size: 11px;
    color: #8a9ca0;
    text-decoration: none;
    padding-left: 6px;
    transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    background-color: #070a1b;
    padding: 4px 3px;
    display: inline-block;
}