body{
    background: url('imgs/iscrizione/sfondo_iscrizione_completo_Dettagli.png');
    background-position: top; 
}  

div.pagina_iscrizione{
	text-align: center;
    margin: auto;
    top: 50%;
}

#disclaimer {
    height: 200px;
    width: 500px;
    overflow: auto;
    margin: 10px auto;
    text-align: left; 
}
