table.customTable {
  width: 500px;
  background-color: #1A2240;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #070A1B;
  border-style: solid;
  color: #b4b6bf;
}

table.customTable td, table.customTable th {
  border-width: 1px;
  border-color: #070A1B;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #1A2240;
}

div.titolo{
	margin: auto;
}

div.pagina_messages_center {
    color: #b4b6bf;
}

input.message_check {
    width: 10px;
    /* background-color: darkred; */
    height: 10px;
}

form.searchBar {
    width: 320px;
    /* text-align: center; */
    margin: auto;
}

div.warning{
    margin: auto;
    margin-bottom: 10px;
	width: 500px; 
    }
    
/*************************/



.slider {
  margin: auto; 
  width: 500px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #1A2240;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: max-content;
  height: max-content;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: block;
  justify-content: center;
  align-items: center;
}
.slides > div:target {
/*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}


.slider > a {
  display: inline-flex;
  width: 3.5rem;
  height: 3.5rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 1rem 0;
  position: relative;
  border: 1px solid #070A1B;
  background-color: #1A2240; 
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

div.read_message{
	width: 500px; 
    margin: auto; 
        margin-top: 20px;

}

iframe.read_message{
	width: 490px;
    height: 285px;
    margin: auto;
    border-width: 1px;
    background-color: #1A2240;
    border-color: #070A1B;
    border-style: solid;
    padding: 5px;
    color: #e2e2e2;
}

header{
	    background: url(imgs/presenti/barra.png);
    border: 1px solid #070A1B;
    border-bottom: none;
    width: 500px;
    height: 20px;
    padding-top: 5px;
}
div.container {
    width: 420px;
    text-align: center;
    margin: auto; 
    color: #e2e2e2;
    height: 265px;
}

input, textarea, select {
    width: 80%;
    color: #e2e2e2;
}

input[type='submit'] {
    width: auto;
}


div.form_label {
    font-size: 13px;
    font-weight: bolder;
    margin-top: 5px;
}

div.form_info {
    font-size: 12px;
    
}
input[type="submit"] {
    background-color: #1a2240;
    border-color:#070a1b;
    color: #e2e2e2;
}
input, textarea, select {
  border: 2px solid black;
  border-radius: 4px;
  background-color: #111423;
  width: auto; 
  margin-top: 0px; 
  margin-bottom: 10px; 
}

textarea {
    height: 100px;
    width: 400px;
}

div.special_container{
    width: 420px;
    text-align: center;
    margin: auto; 
    color: #e2e2e2;
    height: 265px;
    margin-top: 40px;
}



