/****************************************************************************/
/* STILE DELLA FINESTRA PRESENTI */

/* HELP: Da qui è possibile modificare:
- I font ed i colori dei presenti
- Le dimensioni e la posizione della finestra dei presenti
- Lo sfondo della finestra dei presenti */

/*Frame dei presenti*/
body { font-family: Lato; }

div.online div.iframe_online {
    overflow: auto;
    background-color: transparent;
    height: 263px;
    width: 214px;
    border: none;
    margin: auto;
    display: block;
    background: url("imgs/colonna_dx/box_presenti.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-position:center;
    position: relative;
    top: 73px;
    left: 2%;
}

div.presenti div.iframe_online body.transparent_body { background-color: none; }

div.luogo {
    margin: 20px 10px 0 0;
    font-size: 18px;
    font-weight: bolder;
    font-family: Perpetua; 
    border: solid 0px red;
    text-align: center;
    text-transform: uppercase;
    
}

div.presente {
    font-weight: normal;
    font-size: 13px;
    border: none;
    font-family: DejaVu Serif;
    text-align: left;
    position: relative;
    text-transform: capitalize;
    color: #c0a49e;
}

div.presente a,
div.pagina_presenti a:hover,
div.pagina_presenti a,
div.pagina_presenti a:visited {
color: #c0a49e;
line-height: 0;
}

div.link_presenti {
    margin-top: 20px;
}



div.contenitore_presenti {
width: 168px; 
height: 185px; 
border: none; 
position: relative; 
top: 30px; 
left: 25px;
overflow-y: auto;
}

/*Icone di stato dei presenti*/
div.pagina_presenti img.sesso_ico,
div.pagina_presenti img.status_ico,
div.pagina_presenti img.disponibile,
div.pagina_presenti_estesa img.sesso_ico,
div.pagina_presenti_estesa img.status_ico,
div.pagina_presenti_estesa img.disponibile {
    margin: 0 2px 0 0;
}

div.pagina_presenti img.disponibile_switch {

}

/*Link nella colonna presenti */
div.pagina_presenti a,
div.pagina_presenti a:visited,
div.pagina_presenti_estesa a,
div.pagina_presenti_estesa a:visited {
    border: none;
    
}

div.pagina_presenti a:hover,
div.pagina_presenti_estesa a:hover {
    border: none;
}

/*Testo nella colonna presenti*/
div.pagina_presenti ul.elenco_presenti,
div.pagina_presenti_estesa ul.elenco_presenti {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

/*Nomi dei luoghi*/
div.pagina_presenti ul.elenco_presenti li.luogo,
div.pagina_presenti_estesa ul.elenco_presenti li.luogo {
    font-size: 11px;
    font-weight: bold;
    margin: 3px 0 1px 8px;
    text-transform: uppercase;
}

div.pagina_presenti_estesa ul.elenco_presenti li.mappa {
    font-size: 11px;
    font-weight: bold;
    margin: 3px 0 1px 0;
    text-transform: uppercase;
    
}

/* Nomi dei personaggi */
div.pagina_presenti ul.elenco_presenti li.presente,
div.pagina_presenti_estesa ul.elenco_presenti li.presente {
    font-size: 11px;
    margin: 0 0 0 5px;
    
}

div.pagina_presenti_estesa div.presenti_estesi {
    margin: auto;
}

/*Icone presenti*/
img.presenti_ico {
    margin-left: 2px;
    width: 10px;
    height: 10px;
    border: none;
}

/*NUOVO PRESENTI*/

table.customTable {
  min-width: 70%;
  background-color: #181c31;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #070A1B;
  border-style: solid;
  color: #B4B6BF;
  margin: auto;
  text-align: center;
}

table.customTable td, table.customTable th {
  border-width: 1px;
  border-color: #070A1B;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #181c31;
}

tr.second_header{
	background: url('imgs/presenti/barra.png');
    font-size: 10px;
    color: #a7a7a8;
    font-family: "DejaVu Serif";
    }

tr.third_header{
	background: url('imgs/presenti/barra_mappa_chat.png');
    }
    
tr.third_header a:link {
    font-size: 12px;
    color: #ce846f;
    font-family: "DejaVu Serif";
    filter: drop-shadow(-1.732px 1px 2px #000000);
    }
    
    tr.third_header a:visited {
    font-size: 12px;
    color: #ce846f;
    font-family: "DejaVu Serif";
    filter: drop-shadow(-1.732px 1px 2px #000000);
    }
    
tr.mappa{
    font-size: 12px; 
    color: #8f8f8f; 
    font-family: "DejaVu Serif";
    }

tr.presente a:link, a:visited {
font-size: 11px;
color: #a7a7a8;
font-family: "DejaVu Serif";
}

