body {
            margin: 0;
            font-family: 'Lato', sans-serif;
            background-color: #2f2f3b;
            color: #ffffff;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
        }

        /* Barra superiore fissa */
        .top-bar {
            width: 100vw;
            height: 60px;
            background-color: #14172a;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2000;
            box-sizing: border-box;
        }
        
        .top-bar .title {
            border: none;
            box-shadow: none;
        }

        .top-bar .title img {
            height: 40px;
            margin-left: 280px;
            margin-top: -10px;
        }

        /* Contenitore per la barra di ricerca */
        .top-bar .search-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
            margin-right: 380px;
        }

        .top-bar input[type="text"] {
            padding: 10px;
            border: 1px solid #ce846f;
            border-radius: 5px;
            background-color: #22222f;
            color: #ffffff;
            width: 300px;
        }
        
        /* Rimuove la linea arancione di focus */
    input[type="text"]:focus {
    outline: none; /* Rimuove il contorno */
    box-shadow: none; /* Rimuove l'ombra */
    border-color: transparent; /* Rimuove il colore del bordo */
}

        
        .search-results {
    position: absolute;
    top: 60px;
    left: 220;
    width: 300px;
    background-color: #2f2f3b;
    border: 1px solid #ce846f;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;
    display: none;
}

.search-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
    justify-content: space-between;
}

.search-item:hover {
    background-color: rgba(151, 155, 165, 0.1);
}

.search-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}

.search-avatar img {
    width: 100%;
    height: auto;
}

.search-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: calc(100% - 60px);
    align-items: center;
}

.search-name {
    font-size: 16px;
    color: #ffffff;
    margin-right: auto;
}

.search-link {
    font-size: 14px;
    color: #ce846f;
    text-decoration: none;
    margin-left: 10px;
}

.search-link:hover {
    text-decoration: underline;
}

.no-results {
    padding: 10px;
    text-align: center;
    color: #ce846f;
}

        /* Contenitore principale per Sidebar e Contenuto */
        .main-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            margin-top: 60px;
        }

        /* Contenitore per il menu di sinistra */
        .sidebar {
            width: 200px;
            height: 430px;
            background-image: url('imgs/documentazione/sfondo_senza_bordino_new.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 150px 150px 0 0;
            border: 1px solid #af7e58;
            padding: 60px 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 120px;
            left: 267px;
            z-index: 1000;
            overflow: visible;
        }

        /* Avatar */
        .avatar {
            width: 120px;
            height: 120px;
            background-color: #3a3a4a;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid #101326;
            position: absolute;
            top: -20px;
            z-index: 9999;
        }

        /* Contenitore dei tasti */
        .menu-container {
            margin-top: 60px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Tasti del menu */
        .sidebar .menu-item {
            font-size: 15px;
            text-transform: uppercase;
            color: #ce846f;
            cursor: pointer;
            text-align: center;
            padding: 10px;
            background-color: rgba(151, 155, 165, 0.1);
            border-radius: 5px;
            width: 80%;
            margin: 8px auto;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
        }

        .sidebar .menu-item:hover {
            background-color: rgba(54, 66, 115, 0.1);
            box-shadow: 0 0 10px rgba(206, 132, 111, 0.5);
        }

        .sidebar .menu-item.active {
            background-color: rgba(54, 66, 115, 0.3);
            border: 2px solid #ce846f;
            color: #ce846f;
        }

        /* Contenitore per il footer della sidebar */
        /* Contenitore per il footer della sidebar */
.sidebar-footer {
    margin-top: auto; /* Allinea il footer in fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Occupa lo spazio rimanente */
    width: 100%;
    min-height: 100px; /* Altezza minima per garantire visibilità */
    max-height: calc(100% - 250px); /* Altezza massima, calcolata in base allo spazio totale e agli altri elementi */
}

/* Contenitore del footer */
.footer-box {
    width: 100%; /* Adatta la larghezza */
    height: 100%; /* Occupa tutto lo spazio disponibile */
    background-color: rgba(151, 155, 165, 0.1);
    border-radius: 5px;
    border: 1px solid #ce846f;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: #ce846f;
    font-size: 12px;
    overflow: hidden;
    word-wrap: break-word;
}

.update-list {
    width: 100%;
    max-height: 250px; /* Limite di altezza per la lista */
    overflow: auto; /* Aggiunge lo scroll verticale se la lista supera l'altezza massima */
    padding: 10px;
    text-align: left; /* Allinea il testo a sinistra */
}

/* Stile per ogni singolo elemento dell'aggiornamento */
.update-item {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ce846f; /* Separatore tra gli elementi */
    color: #ce846f;
    font-size: 12px;
}

/* Aggiunta di un effetto hover per evidenziare l'elemento */
.update-item:hover {
    background-color: rgba(151, 155, 165, 0.2);
}

.update-item strong {
    font-weight: bold;
}

        /* Contenitore per il contenuto centrale */
        .content {
            width: calc(100% - 250px);
            padding: 30px;
            background-color: #101326;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            margin-top: 30px;
            margin-left: 250px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }

        /* Stile per la textarea */
        .post-textarea {
            width: 90%;
            height: 100px;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #ce846f;
            background-color: #22222f;
            color: #ffffff;
            font-size: 16px;
            resize: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin: 10px auto;
            display: block;
        }
        .post-titolo {
            width: 90%;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #ce846f;
            background-color: #22222f;
            color: #ffffff;
            font-size: 16px;
            resize: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin: 10px auto;
            display: block;
        }

        /* Contenitore per i bottoni */
        .button-container {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .post-button {
            padding: 8px 15px;
            background-color: #ce846f;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            margin-right: 10px;
        }

        .post-button:hover {
            background-color: #af7e58;
            box-shadow: 0 0 10px rgba(206, 132, 111, 0.5);
        }

        /* Stile per la checkbox */
        .alias-container {
            display: flex;
            align-items: center;
        }

        .alias-checkbox {
            margin-right: 5px;
        }

        .alias-label {
            font-size: 14px;
            color: #ce846f;
        }
        
        .anonimo-container {
    display: flex;
    align-items: center;
}

.anonimo-checkbox {
    margin-right: 5px;
}

.anonimo-label {
    font-size: 14px;
    color: #ce846f;
}


        /* Stile per il singolo post */
        .post {
            background-color: #22222f;
            padding: 15px;
            margin: 20px 0;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            position: relative;
        }

        .post-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .post-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
        }

        .post-avatar img {
            width: 100%;
            height: auto;
        }

        .post-info {
            display: flex;
            flex-direction: column;
        }

        .post-author {
            font-size: 16px;
            font-weight: bold;
            color: #ce846f;
        }

        .post-date {
            font-size: 12px;
            color: #8f8f8f;
        }

        /* Contenuto del post */
        .post-content {
            line-height: 1.6;
            font-size: 16px;
            margin: 10px 0;
            text-align: justify;
            color: #b4b6bf;
            word-wrap: break-word;      
            overflow-wrap: break-word;  
            word-break: break-all;       
            white-space: normal;         
            overflow: hidden;           
            text-overflow: ellipsis;
        }

        /* Barra di reazioni */
        .post-reactions {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-top: 1px solid #333;
            padding-top: 10px;
            margin-top: 10px;
        }

        .reaction {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #ce846f;
            font-size: 14px;
            margin-right: 20px;
        }

        .reaction img {
            width: 18px;
            height: 18px;
            margin-right: 5px;
        }

        .reaction:hover {
            text-decoration: underline;
        }
        
        .like-icon-off {
    filter: grayscale(100%); /* Rende l'icona in scala di grigi */
    opacity: 0.5; /* Riduce l'opacità per un effetto "spento" */
}

        /* Sezione commenti */
        .post-comment-section {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #333;
        }

        .post-comment {
            display: flex;
            align-items: center;
            margin: 10px 0;
        }

        .comment-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
        }

        .comment-content {
            background-color: #333;
            padding: 10px;
            border-radius: 5px;
            color: #ffffff;
            font-size: 14px;
        }
        
        /*menu commenti*/
        .post-menu {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 16px; /* Rende la freccia più visibile */
    cursor: pointer;
}

.menu-icon {
    cursor: pointer;
    font-size: 18px; /* Dimensione della freccia */
    color: #ce846f /* Colore della freccia */
}

.menu-dropdown {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #333; /* Modifica il colore di sfondo */
    color: #ffffff; /* Colore del testo */
    border: 1px solid #444; /* Modifica il colore del bordo */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); /* Aumenta l'ombra */
    z-index: 1000;
}

.menu-item {
    padding: 5px 10px;
    cursor: pointer;
    color: #ce846f; /* Colore del testo del menu */
}

.menu-item:hover {
    background-color: #444; /* Modifica il colore al passaggio del mouse */
    color: #ffffff; /* Colore del testo al passaggio del mouse */
}  

/*IMPAGINAZIONE*/
/* Stile per la selezione della paginazione */
.pagination-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-dropdown {
    padding: 8px 12px;
    background-color: #22222f;
    color: #ce846f;
    border: 1px solid #ce846f;
    border-radius: 4px;
    cursor: pointer;
    appearance: none; /* Nasconde lo stile predefinito della dropdown */
}

.pagination-dropdown:hover {
    background-color: #ce846f;
    color: #22222f;
}

.pagination-dropdown option {
    background-color: #22222f;
    color: #ce846f;
}


.new-indicator {
    color: #ce846f; /* Colore del pallino */
    margin-left: 5px;
    font-size: 14px;
}



.category-select {
    display: none; /* Nascondi per default */
}







/* Media query per Tablet (da 768px a 1024px) */
@media (max-width: 1024px) {
    /* Sidebar: Adatta larghezza e posizione */
    .sidebar {
        width: 180px;
        padding: 20px;
        left: 0;
        top: 100px;
    }

    /* Riduce margine tra contenuto centrale e sidebar */
    .content {
        margin-left: 180px;
        width: calc(100% - 200px);
    }

    .top-bar .search-container {
        margin-right: 20px;
    }
    
    .top-bar .title img {
        margin-left: 20px;
        height: 35px;
    }

    /* Riduzione dimensioni del logo */
    .top-bar .title img {
        height: 35px;
        margin-left: 20px;
        margin-top: -10px;
    }

    /* Modifica della barra superiore */
    .top-bar {
        height: 50px;
        padding: 0 10px;
    }
}