 	/** * Chat Off Per GDRCD Extreme
	@Author Axel di Fairy Tail Universe GDR
	*** Potrai liberamente utilizzare questa chat off compatibile in tutto e per tutto con GDRCD fino alla versione Extreme riconoscendo la paternità del codice all'autore e non rimuovendo questo commento. 
	*** Nel caso in cui il commento venisse rimosso, l'autore dei codici non donerà il consenso all'utilizzo del codice sottostante.
	*** La vendita del codice è vietata, poiché rilasciata in termini d'uso totalmente gratuiti.
	*** Il creatore del codice non si assume nessuna responsabilità in merito a malfunzionamenti o bug.
	*** Potrai modificare la grafica della chat off tramite il file style22.css. Vietato modificare il codice PHP. Per modifiche varie ed eventuali che si vuole apportare al codice, è necessaria l'autorizzazione di Axel, reperibile alla mail: stafffairytail@gmail.com
    *** Fermo restando i punti sopra citati, la chat non dovrai far altro che inserire i file nella directory principale del tuo sito e poi creare il link al file "chatoff.php" dove più ritieni opportuno sul tuo sito.
	*** Enjoy
	*/
/* CSS Document */
body {

	font:10px verdana;
	color: #b4b6bf;
	text-align:center;
	padding:15px; }
 
form, p, span {
	margin:0;
	padding:0; }
 
input { font:12px arial; }
 
a {
	color:#0000FF;
	text-decoration:none; }
 
	a:hover { text-decoration:underline; }
 
#wrapper, #loginform {
	margin:0 auto;
	padding-bottom:25px;
	background:#0a121b;
	width:504px;
	border:1px solid #888888; }
 
#loginform { padding-top:18px; }
 
	#loginform p { margin: 5px; }
 
#chatbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#0a121b;
	height:270px;
	width:430px;
	border:transparent;
	overflow:auto; }
 
#usermsg {
	width:395px;
	border:1px solid #ACD8F0; }
 
#submit { width: 60px; }
 
.error { color: #ff0000; }
 
#menu { padding:12.5px 25px 12.5px 25px; }
 
.welcome { float:left; }
 
.logout { float:right; }
 
.msgln { margin:0 0 2px 0; }

.ares{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #b4b6bf;
	background-color: #0a121b;
	border: 1px solid; border-color:#888888; -moz-border-radius:.4em; border-radius:.4em;
	vertical-align: bottom;
	-moz-border-radius: 10px:
}
 
 